In [1]:
import pandas as pd

xls = pd.ExcelFile('Planilhao_TCT_SPAECE_EF_2023_MT_240402-2 (1).xlsx')

df = pd.DataFrame(xls.parse('ESCOLA'))

df.columns = df.iloc[0]
df = df[1:]

# Remoção de Colunas 'CD_REDE','CD_ETAPA', 'CD_REGIONAL','CD_MUNICIPIO' 'CD_ESCOLA', manter apenas colunas com informações relevantes para análise de desempenho
df = df.drop(['CD_REDE','CD_ETAPA', 'CD_REGIONAL','CD_MUNICIPIO', 'CD_ESCOLA'], axis=1)

# Remover colunas completamente vazias (se existirem)
df = df.dropna(axis=1, how='all')

# Filtros para manter apenas os dados do 9º ano
df_9ano = df[df['DC_ETAPA'] == 'ENSINO FUNDAMENTAL DE 9 ANOS - 9º ANO'].reset_index(drop=True)

In [2]:
def selecionar_escola(df, nome_escola):
    """Filtra o DataFrame pela escola informada."""
    filtro = df_9ano['NM_ESCOLA'].str.contains(nome_escola, case=False, na=False)
    df_filtrado = df_9ano[filtro].copy()
    return df_filtrado

In [3]:
# Top 10 das escolas de Fortaleza

# Filtrar apenas escolas de Fortaleza no 9º ano
df_9ano_fortaleza = df_9ano[df_9ano["NM_MUNICIPIO"].str.upper() == "FORTALEZA"]
df_9ano_fortaleza

,DC_REDE,DC_ETAPA,NM_REGIONAL,NM_MUNICIPIO,NM_ESCOLA,D01,D01_5EF,D02,D03,D04,...,D63,D65,D66,D67,D69,D73,D74,D75,D77,VL_D
13,ESTADUAL,ENSINO FUNDAMENTAL DE 9 ANOS - 9º ANO,FORTALEZA,FORTALEZA,CAIC RAIMUNDO GOMES DE CARVALHO,-,22.368421,-,-,-,...,-,33.898305,-,45.833333,23.529412,-,-,47.154472,33.333333,36.972913
14,ESTADUAL,ENSINO FUNDAMENTAL DE 9 ANOS - 9º ANO,FORTALEZA,FORTALEZA,COLEGIO DA POLICIA MILITAR DO CEARA GENERAL ED...,-,54.545455,-,-,-,...,-,61.111111,-,70.391061,70.391061,-,-,81.666667,69.945355,67.163095
15,ESTADUAL,ENSINO FUNDAMENTAL DE 9 ANOS - 9º ANO,FORTALEZA,FORTALEZA,COLEGIO MILITAR DO CORPO DE BOMBEIROS ESCRITOR...,-,52.083333,-,-,-,...,-,57.746479,-,80.882353,75.362319,-,-,88.059701,69.444444,68.633984
16,ESTADUAL,ENSINO FUNDAMENTAL DE 9 ANOS - 9º ANO,FORTALEZA,FORTALEZA,EEFM ALMIRANTE TAMANDARE,-,26.086957,-,-,-,...,-,42.857143,-,48.484848,36.363636,-,-,50,26.666667,43.451777
17,ESTADUAL,ENSINO FUNDAMENTAL DE 9 ANOS - 9º ANO,FORTALEZA,FORTALEZA,EEFM ANISIO TEIXEIRA,-,22.033898,-,-,-,...,-,33.333333,-,47.777778,23.333333,-,-,46.067416,23.076923,35.447214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,MUNICIPAL,ENSINO FUNDAMENTAL DE 9 ANOS - 9º ANO,FORTALEZA,FORTALEZA,ESCOLA MUNICIPAL VICENTE FIALHO,-,27.272727,-,-,-,...,-,40,-,44.897959,18.367347,-,-,38.77551,23.404255,34.615385
720,MUNICIPAL,ENSINO FUNDAMENTAL DE 9 ANOS - 9º ANO,FORTALEZA,FORTALEZA,ESCOLA MUNICIPAL WALDEMAR BARROSO,-,38.14433,-,-,-,...,-,44.520548,-,46.979866,31.972789,-,-,50,32.885906,40.102313
721,MUNICIPAL,ENSINO FUNDAMENTAL DE 9 ANOS - 9º ANO,FORTALEZA,FORTALEZA,ESCOLA MUNICIPAL WASHINGTON SOARES,-,26.5625,-,-,-,...,-,39.361702,-,45.263158,19.354839,-,-,43.956044,32.258065,37.037037
722,MUNICIPAL,ENSINO FUNDAMENTAL DE 9 ANOS - 9º ANO,FORTALEZA,FORTALEZA,ESCOLA MUNICIPAL YOLANDA QUEIROZ,-,28.125,-,-,-,...,-,31.914894,-,30,22,-,-,40,36.538462,32.550554
723,MUNICIPAL,ENSINO FUNDAMENTAL DE 9 ANOS - 9º ANO,FORTALEZA,FORTALEZA,ESCOLA MUNICIPAL ZAIRA MONTEIRO GONDIM,-,30.985915,-,-,-,...,-,47.272727,-,60.714286,37.614679,-,-,52.212389,41.121495,43.609023

In [4]:
# Selecionar colunas solicitadas e gerar ranking
top_10_escolas_9ano_fortaleza = (
    df_9ano_fortaleza[["NM_MUNICIPIO", "NM_ESCOLA", "VL_D"]]
    .dropna()
    .sort_values(by="VL_D", ascending=False)
    .head(10)
    .reset_index(drop=True)
)
top_10_escolas_9ano_fortaleza
# # Adicionar coluna de ranking
# top_10_escolas_9ano_fortaleza.index += 1
# top_10_escolas_9ano_fortaleza.rename_axis("Ranking", inplace=True)

0 NM_MUNICIPIO                                          NM_ESCOLA       VL_D
0    FORTALEZA  COLEGIO MILITAR DO CORPO DE BOMBEIROS ESCRITOR...  68.633984
1    FORTALEZA  COLEGIO DA POLICIA MILITAR DO CEARA GENERAL ED...  67.163095
2    FORTALEZA  ESCOLA MUNICIPAL DE TEMPO INTEGRAL DEPUTADO RO...  65.107058
3    FORTALEZA  ESCOLA MUNICIPAL DE TEMPO INTEGRAL PROFESSOR A...  55.172414
4    FORTALEZA  ESCOLA MUNICIPAL DE TEMPO INTEGRAL PROFESSOR J...  54.028269
5    FORTALEZA   ESCOLA MUNICIPAL DE TEMPO INTEGRAL JOSE CARVALHO  52.063051
6    FORTALEZA  ESCOLA MUNICIPAL DE TEMPO INTEGRAL PROFESSOR J...  51.782683
7    FORTALEZA  ESCOLA MUNICIPAL DE TEMPO INTEGRAL LEONEL DE M...  51.744618
8    FORTALEZA  ESCOLA MUNICIPAL DE TEMPO INTEGRAL PROFESSOR A...  51.587715
9    FORTALEZA  ESCOLA MUNICIPAL DE TEMPO INTEGRAL PROFESSOR E...   49.10579

In [6]:
xls = pd.ExcelFile('Planilhao_TCT_SPAECE_EF_2023_MT_240402-2 (1).xlsx')

df = pd.DataFrame(xls.parse('ESCOLA'))

df

,SPAECE EF 2023\nRESULTADOS DE DESEMPENHO - Escola\nMATEMÁTICA,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
0,CD_REDE,DC_REDE,CD_ETAPA,DC_ETAPA,CD_REGIONAL,NM_REGIONAL,CD_MUNICIPIO,NM_MUNICIPIO,CD_ESCOLA,NM_ESCOLA,...,D63,D65,D66,D67,D69,D73,D74,D75,D77,VL_D
1,1,ESTADUAL,18,ENSINO FUNDAMENTAL DE 9 ANOS - 5º ANO,8,BATURITE,2301406,ARATUBA,23227770,ESCOLA INDIGENA MANOEL FRANCISCO DOS SANTOS,...,30.769231,-,11.111111,-,-,50,85.714286,-,-,35.454545
2,1,ESTADUAL,18,ENSINO FUNDAMENTAL DE 9 ANOS - 5º ANO,7,CANINDE,2302800,CANINDE,23239115,ESCOLA INDIGENA EXPEDITO OLIVEIRA ROCHA,...,37.5,-,36.363636,-,-,54.545455,70,-,-,50.699301
3,1,ESTADUAL,18,ENSINO FUNDAMENTAL DE 9 ANOS - 5º ANO,13,CRATEUS,2304103,CRATEUS,23258780,ESCOLA INDIGENA CARIRI TABAJARA,...,55.555556,-,56.25,-,-,92.307692,92.857143,-,-,75.568182
4,1,ESTADUAL,18,ENSINO FUNDAMENTAL DE 9 ANOS - 5º ANO,13,CRATEUS,2304103,CRATEUS,23233370,ESCOLA INDIGENA RAIZES DE CRATEUS,...,69.230769,-,33.333333,-,-,55.555556,100,-,-,68.636364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4894,2,MUNICIPAL,41,ENSINO FUNDAMENTAL DE 9 ANOS - 9º ANO,5,TIANGUA,2314102,VICOSA DO CEARA,23014431,REGINALDO CARNEIRO DA CUNHA EEF,...,-,46.666667,-,80,71.428571,-,-,71.428571,53.846154,56.730769
4895,2,MUNICIPAL,41,ENSINO FUNDAMENTAL DE 9 ANOS - 9º ANO,5,TIANGUA,2314102,VICOSA DO CEARA,23014482,SALUSTIANO DA COSTA CARDOSO EEIF,...,-,50,-,66.666667,53.846154,-,-,46.153846,30.769231,41.794872
4896,2,MUNICIPAL,41,ENSINO FUNDAMENTAL DE 9 ANOS - 9º ANO,5,TIANGUA,2314102,VICOSA DO CEARA,23013842,SANTA BARBARA EEF,...,-,50,-,73.333333,37.5,-,-,50,38.888889,42.510121
4897,2,MUNICIPAL,41,ENSINO FUNDAMENTAL DE 9 ANOS - 9º ANO,5,TIANGUA,2314102,VICOSA DO CEARA,23014695,TRAPIA EEF,...,-,54.545455,-,57.142857,57.142857,-,-,63.157895,52.380952,50.961538
4898,2,MUNICIPAL,41,ENSINO FUNDAMENTAL DE 9 ANOS - 9º ANO,5,TIANGUA,2314102,VICOSA DO CEARA,23014512,VICENTE FERREIRA DE MIRANDA EEF,...,-,58.333333,-,27.272727,54.545455,-,-,54.545455,27.272727,45.266272